nav {
    margin: 0em;
}

body {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 500px;
}

h1,
p {
    margin: 2em;
    text-align: center;
}

h3 {
    margin: 3em;
    margin-right: 0;
    color: #fff;
}

footer {
    height: 4em;
}